{% extends 'base.html' %}

{% block content %}
<h1>Home, home on range</h1>.
<nav>
    <ul>
        <li>
            <a href="{% url 'login' %}">Login</a>
        </li>

    </ul>
</nav>

{% endblock content %}